.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
  right: 10px;
}

  .card-img img {
    width: 95%;
    height: 315px;
    display: block;
    filter: blur(1px);
    border-radius: 5px;
  }

.slide-caption {
  position: absolute;
  bottom: 30%;
  width: 95%;
  color: white;
  text-align: center;
  overflow: auto;
}

.slider-text {
  position: relative;
  background-color: #0000007a;
  color: #dcd7d7;
  font-size: 35px;
  text-shadow: 1px 2px 6px black;
}

.content-text {
  font-size: 18px;
  color: #6c6d6d;
  padding: 10px;
}

.article-background {
  padding-top: 17px;
  background-color: transparent;
  box-shadow: #d2d2d2 0px 0px 10px;
}
