.image-box {
  border-radius: 10px;
}

.image-text {
  bottom: 60px;
  text-align: center;
  position: relative;
  background-color: #d8d8dab0;
}

.category-box {
  padding: 15px;
}

.height-110 {
  height: 110px
}

.btn-default {
  background-color: transparent;
  border: 0;
  color: #6c6d6d;
  box-shadow: 0px 0px 5px #000000;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

  .btn-default:hover {
    background-color: #1d77ab;
  }

p {
  font-size: 20px;
}

.on-tiny:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25), 0px 0px 50px 0px rgba(0,0,0,0.22);
  transition: 0.5s;
}

.posit {
  position:static;
}

.card-posit {
  background-color: #fcfcfc;
  height: 270px;
  transition: 0.5s;
}
