<div class="screen-box">
  <div class="slider-wrapper col-md-12">
    <div class="slider">
      <div *ngFor="let user of userList; let i = index">
        <div *ngFor="let article of user.articleList">
          <input type="radio" name="slider" class="trigger" id="{{i}}" checked="checked" />
          <div class="slide" (click)="readArticle(article.id)">
            <figure class="slide-figure">
              <img class="slide-img" src="data:image/png;base64,{{article.imagePath}}" />
              <figcaption class="slide-caption3"><p class="slider-text header-info pull-right" title="Okunma Sayısı..."><i class="glyphicon glyphicon-book"><b> {{article.readCount}}</b></i></p></figcaption>
              <figcaption class="slide-caption2"><p class="slider-text" style="background-color:transparent"><i><b>{{article.content}}</b></i></p></figcaption>
              <figcaption class="slide-caption"><p class="slider-text"><b>{{article.header}}</b><i> - {{user.name}} {{user.surname}}</i></p></figcaption>
            </figure><!-- .slide-figure -->
          </div><!-- .slide -->
        </div>
      </div>
    </div><!-- .slider -->
    <ul class="slider-nav">
      <li class="slider-nav__item"><label class="slider-nav__label" for="0">1</label></li>
      <li class="slider-nav__item"><label class="slider-nav__label" for="1">2</label></li>
      <li class="slider-nav__item"><label class="slider-nav__label" for="2">3</label></li>
    </ul><!-- .slider-nav -->
  </div><!-- .slider-wrapper -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 pdgn-25" *ngFor="let value of adminArticles">
      <div class="card-content">
        <div class="card-img">
          <img src="data:image/png;base64,{{value.imagePath}}" alt="">
        </div>
        <div class="card-desc">
          <h3>{{value.header}}</h3>
          <p>{{value.content}}</p>
          <a href="#" class="btn-card" title="Okunma Sayısı"><i class="glyphicon glyphicon-book"></i> <b>{{value.readCount}}</b></a>
          <a href="#" class="btn-card" [routerLink]='["/read-article",{articleId:value.id}]' title="Tamamını Oku"><b>Oku</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
