
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');









@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.untitled {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: rotateHue infinite 20s linear;
  animation: rotateHue infinite 20s linear;
  -webkit-animation-delay: 0.625s;
  animation-delay: 0.625s;
}

@-webkit-keyframes rotateHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  20% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }

  45% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  70% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }

  95% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes rotateHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  20% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }

  45% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  70% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }

  95% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.untitled__shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  -webkit-animation: rotateFrame 10s linear infinite;
  animation: rotateFrame 10s linear infinite;
}

@-webkit-keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.untitled__shutters:before, .untitled__shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  background-color: #b3401a;
  pointer-events: auto;
}

.untitled__shutters:before {
  bottom: 50%;
  -webkit-animation: openTop 5s infinite;
  animation: openTop 5s infinite;
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }

  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }

  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

.untitled__shutters:after {
  top: 50%;
  -webkit-animation: openBottom 5s infinite;
  animation: openBottom 5s infinite;
}

@-webkit-keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }

  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

@keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }

  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

.untitled__slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #b3401a;
}

.untitled__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: showHideSlide infinite 20s steps(1);
  animation: showHideSlide infinite 20s steps(1);
}

@-webkit-keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }

  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }

  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

.untitled__slide:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

  .untitled__slide:nth-child(1) .untitled__slideBg {
    background-image: url(https://unsplash.it/g/1500/2200?image=838);
  }

.untitled__slide:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

  .untitled__slide:nth-child(2) .untitled__slideBg {
    background-image: url(https://unsplash.it/g/1500/1000?image=1078);
  }

.untitled__slide:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

  .untitled__slide:nth-child(3) .untitled__slideBg {
    background-image: url(https://unsplash.it/g/1500/1000?image=1077);
  }

.untitled__slide:nth-child(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

  .untitled__slide:nth-child(4) .untitled__slideBg {
    background-image: url(https://unsplash.it/g/1500/1200?image=345);
  }

.untitled__slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #b3401a;
  background-blend-mode: hard-light;
  opacity: 1;
  z-index: -1;
  -webkit-animation: bgInOut 5s infinite;
  animation: bgInOut 5s infinite;
}

@-webkit-keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }

  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
}

@keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }

  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
}

.untitled__slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-family: "Abril Fatface", sans-serif;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
  mix-blend-mode: lighten;
}

  .untitled__slideContent span {
    display: block;
    font-size: 15vmin;
  }

.button {
  font-family: "Roboto Mono", sans-serif;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2vmin;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 5vmin;
  mix-blend-mode: lighten;
  color: white;
  padding: 2vmin 2vmin 1.8vmin 2vmin;
  letter-spacing: 0.1em;
  text-shadow: none;
  line-height: 1;
  -webkit-transform: translate3d(0.5vmin, -0.5vmin, 0);
  transform: translate3d(0.5vmin, -0.5vmin, 0);
  transition: all 100ms linear;
}

  .button:hover {
    -webkit-transform: translate3d(1vmin, -1vmin, 0);
    transform: translate3d(1vmin, -1vmin, 0);
    box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
    background: white;
    color: black;
  }

  .button:active {
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0);
    box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
  }


.center {
  position: absolute;
  top: 19%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 298px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

  .card h1 {
    text-align: center;
  }

  .card .additional {
    position: absolute;
    width: 90px;
    height: 100%;
    background-color: #f2f2f2;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }

  .card.green .additional {
    background-color: #92bCa6;
  }


  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }

    .card .additional .user-card::after {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      right: 55px;
      height: 80%;
      border-left: 2px solid rgba(0,0,0,0.025);
    }

    .card .additional .user-card .level,
    .card .additional .user-card .points {
      top: 50%;
      color: #848484;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: bold;
      padding: 0.125rem 0.75rem;
      border-radius: 100px;
      white-space: nowrap;
    }

    .card .additional .user-card .points {
      top: 41%;
    }

    .card .additional .user-card svg {
      top: 50%;
    }

  .card .additional .more-info {
    width: 200px;
    float: left;
    position: absolute;
    left: 98px;
    height: 100%;
  }

    .card .additional .more-info h4 {
      color: #848484;
      padding: 15px;
      margin-bottom: 0;
      letter-spacing: 1px;
    }

  .card.green .additional .more-info h4 {
    color: #224C36;
  }

  .card .additional .coords {
    margin: 0 1rem;
    color: #848484;
    font-size: 1rem;
  }

  .card.green .additional .coords {
    color: #325C46;
  }

  .card .additional .coords span + span {
    float: right;
  }

  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #848484;
  }

  .card.green .additional .stats {
    color: #325C46;
  }

  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }

  .card .additional .stats i {
    display: block;
  }

  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

    .card .additional .stats div.value.infinity {
      font-size: 2.5rem;
    }

  .card .general {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }

    .card .general .more {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 0.9em;
    }










img {
  max-width: 100%;
  vertical-align: middle;
}

.text-border-black {
  text-shadow: 0px 0px 1px #000000;
}

.info-ground {
  background-color: #ececec;
  border-radius: 6px;
  padding-top: 4px;
  padding-left: 4px;
}

.read-count {
  top: 25px;
  position: absolute;
  top: 11%;
  left: 93%;
  padding: 6px;
  color: #fff;
  font-size: 20px;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.trigger {
  display: none;
}

.slider, .slider-wrapper {
  position: relative;
  height: 250px;
}

.slide {
  /*background-color: transparent;*/
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 114%;
  left: 0;
  top: -13px;
  z-index: 1;
  /*opacity: 0;*/
  /*transition: opacity .5s ease-in-out;*/
  border-radius: 3px;
}

.slide-img {
  filter: brightness(50%);
  height: 108%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  bottom: 30%;
  width: 100%;
  color: white;
  text-align: center;
}

.button-position {
  display: table-row;
  vertical-align: bottom;
  height: 30px;
  text-align: center;
}

.slide-caption3 {
  position: absolute;
  bottom: 30%;
  width: 100%;
  color: white;
  text-align: center;
  top: 7px;
}

.br13 {
  border-radius: 13px;
}

.header-info {
  border-radius: 15px;
  width: 5%;
  right: 10px;
  position: relative;
}

.slide-caption2 {
  position: absolute;
  bottom: 45%;
  width: 100%;
  color: white;
  text-align: center;
  padding: 30px;
}

.trigger:checked + .slide {
  z-index: 1;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  bottom: 44px;
  z-index: 1;
  position: relative;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 13px;
  background-color: #1e2e3e;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: black;
  }


@media only screen and (min-width: 1024px) {
  .slider, .slider-wrapper {
    height: 250px;
    /*width: 95%;
    left: -15px;*/
  }

  .slide-caption {
    font-size: 1.9rem;
  }

  .slider-text {
    position: relative;
    background-color: #0000002e;
    color: #f3eded;
    text-shadow: 1px 1px 3px black;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slider, .slider-wrapper {
    height: 360px;
    padding-top: 20px;
  }

  .screen-box {
    top: -25px;
    position: relative;
    height: 95%;
  }

  .slide-caption {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 85%;
    height: 95%;
    /*height: -webkit-fill-available;*/
  }
}



section {
  padding: 25px 0;
}

.pdgn-25 {
  padding-top: 25px
}

.details-card {
  background: #ecf0f1;
}

.card-content {
  background-color: transparent;
  border: 4px;
  box-shadow: black 1px 1px 16px;
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

  .card-img img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
  }

  .card-img span {
    background-color: #00000047;
    position: absolute;
    top: 11%;
    left: 50%;
    /*background: #1ABC9C;*/
    padding: 6px;
    color: #848484;
    font-size: 16px;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;*/
    transform: translate(-50%,-50%);
  }

    .card-img span h4 {
      font-size: 12px;
      margin: 0;
      padding: 10px 5px;
      line-height: 0;
    }

.card-desc {
  padding: 1.25rem;
  height: 266px;
}

  .card-desc h3 {
    color: #6c6d6d;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  .card-desc p {
    color: #6c6d6d;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }

.btn-card {
  background-color: #3ca2e0;
  color: #848484;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: .84rem 2.14rem;
  font-size: .99rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  top: -14px;
}

  .btn-card:hover {
    background: #ffffff6b;
  }

a.btn-card {
  text-decoration: none;
  color: #fff;
}
/* End card section */




.immersive_slider {
  background: #161923;
  max-width: 100%;
  height: 280px;
  opacity: .9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

  .immersive_slider .is-slide {
    display: table;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 100px;
    position: absolute;
  }

    .immersive_slider .is-slide .image {
      float: none;
      width: 20%;
      padding-left: 10px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      vertical-align: middle;
      display: table-cell;
      padding: 0 0 0 10px;
    }

.is-bg-overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.is-overflow, .is-bg-overflow {
  height: 100%;
}

.ease {
  -webkit-transition: 1000ms ease all;
  -moz-transition: 1000ms ease all;
  -o-transition: 1000ms ease all;
  transition: 1000ms ease all;
}

.bounce {
  -webkit-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  -moz-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  -o-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

.no-animation {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.immersive_slider .is-slide .image img {
  max-width: 100%;
  display: block;
  width: 100%;
}

.immersive_slider .is-slide .content {
  float: none;
  width: 80%;
  padding-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: white;
  text-align: left;
  line-height: 160%;
  vertical-align: middle;
  display: table-cell;
}

  .immersive_slider .is-slide .content h2 {
    font-size: 42px;
    font-weight: 300;
    text-align: left;
  }

.is-container {
  position: relative;
  overflow: hidden;
}

  .is-container .is-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

    .is-container .is-background img {
      width: 100%;
      height: 100%;
      left: 0;
      position: relative;
    }

    .is-container .is-background.gs_cssblur {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px);
    }

.is-pagination {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

  .is-pagination li {
    padding: 0;
    display: inline-block;
    text-align: center;
    position: relative;
  }

    .is-pagination li a {
      padding: 10px;
      width: 4px;
      height: 4px;
      display: block;
    }

      .is-pagination li a:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,0.85);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
      }

      .is-pagination li a.active:before {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid white;
        margin-top: -4px;
        left: 8px;
      }

.is-next, .is-prev {
  padding: 5px 5px 15px;
  font-size: 50px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -36px;
  width: 35px;
  color: #FFF;
  display: inline-block;
  line-height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.is-next {
  right: 10px;
}

.is-prev {
  left: 10px;
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .is-container {
    left: 8px;
  }
}
