<div class='main-nav hidden-sm hidden-xs'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <div class="text-center">
        <h2 class="soft-text"><i class="glyphicon glyphicon-pencil"></i></h2><h5 class="soft-text" style="bottom:12px; position:relative"><b>YERALTI NOTLARI</b></h5><br />
        <img *ngIf="user.image != null" class="profile-picture" src="data:image/jpeg;base64,{{user.image}}" [routerLink]='["/profile",{authorId:user.id}]' />
        <img *ngIf="user.image == null" class="profile-picture" src="./assets/pp.png" [routerLink]='["/profile",{authorId:user.id}]' />
        <h5 class="soft-text">Hoşgeldin {{user.name}}</h5>
        <button *ngIf='currentState == "Giriş Yap"' data-toggle="modal" data-target="#loginModal" ui-sref="login" id="loginButton" class="btn btn-primary btn-outline btn-rounded btn-sm logout-button" (click)='currentState == "Çıkış Yap" ? Logout() : "" '>{{currentState}}</button>
        <button *ngIf='currentState != "Giriş Yap"' ui-sref="login" id="loginButton" class="btn btn-primary btn-outline btn-rounded btn-sm logout-button" (click)="Logout()">{{currentState}}<i></i></button>
      </div>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Ana Sayfa
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/category"]'>
            <span class="glyphicon glyphicon-tasks"></span> Kategoriler
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' *ngIf="user.id">
          <a [routerLink]='["/my-article"]'>
            <span class='glyphicon glyphicon-education'></span> Yazılarım
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' *ngIf="user.id">
          <a [routerLink]='["/article"]'>
            <span class='glyphicon glyphicon-plus'></span> Yazı Ekle
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' *ngIf="isAdmin">
          <a [routerLink]='["/admin"]'>
            <span class="glyphicon glyphicon-tower"></span> Yönetim Paneli
          </a>
        </li>
        <li (click)="ChangeNightMode()">
          <a>
            <span class="glyphicon glyphicon-adjust"></span> Gece Modu
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/information"]'>
            <span class='glyphicon glyphicon-heart'></span> Hakkımızda
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog modal-xs">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">YERALTINA GIRIS</h4>
      </div>
      <div class="modal-body" style="height: 565px;">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#login2">Giriş Yap</a></li>
          <li><a data-toggle="tab" href="#register2">Üye Ol</a></li>
        </ul>
        <div class="tab-content">
          <div id="login2" class="tab-pane fade in active">
            <!--Login Area-->
            <div class="login-form">
              <div class="main-div">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="inputMailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="inputPassword" placeholder="Şifre">
                </div>
                <div class="forgot">
                  <a>Sifreni mi unuttun?</a>
                </div>
                <button type="submit" (click)="Login(inputMailAddress,inputPassword)" class="btn btn-primary">Giriş</button>
              </div>
            </div>
          </div>
          <div id="register2" class="tab-pane fade">
            <!--Register Area-->
            <div class="article-form">
              <div class="main-div">
                <div class="form-group" style="text-align:center;margin:-40px;">
                  <img *ngIf="base64textString" class="card-image" style="width: 100px;height: 100px;border-radius: 50px;object-fit: cover;bottom: 40px;position: relative;" src="data:image/png;base64,{{base64textString}}" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Name" placeholder="Ad">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Surname" placeholder="Soyad">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="user.MailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.Password" placeholder="Şifre">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.PasswordRetry" placeholder="Şifrenizi tekrar giriniz">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="user.PhoneNumber" placeholder="Telefon Numaranız">
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <form novalidate [formGroup]="formImport">
                      <div class="input-group mb-3">
                        <span class="custom-file btn btn-success btn-file">
                          <input type="file" class="custom-file-input" formControlName="importFile" value="Yazı için dosya ekle" id="importFile" (change)="onFileChange($event.target.files)">
                          <label class="custom-file-label" #labelImport for="importFile"><i class="glyphicon glyphicon-search"></i> Profil Resmi Ekle </label>
                        </span>
                        *Dikey dikdörtgen resimler görüntülemeler esnasında problem yaşatabilir
                      </div>
                    </form>
                  </div>
                </div>
                <div class="forgot col-sm-12">
                  <br />
                  <button type="submit" (click)="Register(user)" class="btn btn-block btn-primary">Kayıt Ol</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
