li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #2698dd;
  color: white;
}

.profile-picture {
  width: 100px;
  border-radius: 50px;
}

.btn-primary {
  border-radius: 18px;
  background-color: transparent;
  border-color: #3ca2e0;
  color: #3ca2e0;
  border-width: 1px;
}

.header-margin {
  margin-top: 0px;
  margin-bottom: -5px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #43a2d0;
  color: white;
}

.btn-danger {
  border-radius: 18px;
  background-color: transparent;
  border-color: #c7254e;
  color: #c7254e;
  border-width: 1px;
}

.logout-button {
  background-color: transparent;
  border: rgba(255,255,255,.8);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin:10px;
  color:white;
}

.soft-text {
  color: rgba(255,255,255,.7);
}

/* Menünün arka planını mavi yapar */
.navbar-inverse {
  background-color: #3ca2e0;
  border-color: #080808;
}

/* Menüleri font rengini beyaz yapar */
  .navbar-inverse .navbar-nav > li > a{
    color:white
  }

  /* Keep the nav menu independent of scrolling and on top of other items */
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(18% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        /*border-top: 1px solid #444;*/
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

  /*Switch css'leri*/
  .rocker {
    display: inline-block;
    position: relative;
    /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
  }

  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }

  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }

    .switch-left::before,
    .switch-right::before {
      content: "";
      position: absolute;
      width: 0.4em;
      height: 2.45em;
      bottom: -0.45em;
      background-color: #ccc;
      transform: skewY(-65deg);
    }

  .switch-left::before {
    left: -0.4em;
  }

  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }

    input:checked + .switch-left::before {
      background-color: transparent;
      width: 3.0833em;
    }

    input:checked + .switch-left + .switch-right {
      background-color: #ddd;
      color: #888;
      bottom: 0.4em;
      right: 0.8em;
      height: 2.4em;
      width: 2.75em;
      transform: rotate(-15deg) skewX(-15deg);
    }

      input:checked + .switch-left + .switch-right::before {
        background-color: #ccc;
      }

  /* Keyboard Users */
  input:focus + .switch-left {
    color: #333;
  }

  input:checked:focus + .switch-left {
    color: #fff;
  }

  input:focus + .switch-left + .switch-right {
    color: #fff;
  }

  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
}
