li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #2698dd;
  color: white;
}

.profile-picture {
  width: 100px;
  border-radius: 50px;
}

.btn-primary {
  border-radius: 18px;
  background-color: transparent;
  border-color: #3ca2e0;
  color: #3ca2e0;
  border-width: 1px;
}

.header-margin {
  margin-top: 0px;
  margin-bottom: -5px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #43a2d0;
  color: white;
}

.btn-danger {
  border-radius: 18px;
  background-color: transparent;
  border-color: #c7254e;
  color: #c7254e;
  border-width: 1px;
}

.logout-button {
  background-color: transparent;
  border: rgba(255,255,255,.8);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin:10px;
  color:white;
}

.soft-text {
  color: rgba(255,255,255,.7);
}

/* Menünün arka planını mavi yapar */
.navbar-inverse {
  background-color: #3ca2e0;
  border-color: #080808;
}

/* Menüleri font rengini beyaz yapar */
  .navbar-inverse .navbar-nav > li > a{
    color:white
  }

  /* Keep the nav menu independent of scrolling and on top of other items */
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(18% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        /*border-top: 1px solid #444;*/
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
