@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.white-text{
  color:white;
}

.blue-background {
  background-color: #3ca2e0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  background-color: #3ca2e0;
}

.soft-text {
  color: rgba(255,255,255,.7);
}

input.form-control{
  background-color:transparent;
  color:#fff;
}
