<div class='container col-md-12'>
  <nav class="navbar navbar-default hidden-md hidden-lg blue-background" style="z-index:3">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" style="background-color:transparent" class="navbar-toggle collapsed white-background" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand soft-text"> <h2 style="bottom: 27px;position: relative;" class="soft-text"><i class="glyphicon glyphicon-pencil"></i></h2></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/"]'>Ana Sayfa</a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/category"]'>Kategoriler</a>
          </li>
          <li *ngIf="user.id" [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/my-article"]'>Yazılarım</a>
          </li>
          <li *ngIf="user.id" [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/article"]'>Yazı Ekle</a>
          </li>
          <li *ngIf="isAdmin" [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/admin"]'>Yönetim Paneli</a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a style="color:white" [routerLink]='["/information"]'>Hakkımızda</a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a *ngIf='headState == "Giriş Yap"' id="loginButton" style="color:white" data-toggle="modal" data-target="#loginModal2"><i class="glyphicon glyphicon-log-in"></i> {{headState}}</a>
            <a *ngIf='headState != "Giriş Yap"' id="loginButton" style="color:white" (click)='Logout()'><i class="glyphicon glyphicon-log-in"></i> {{headState}}</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row" style="margin-left: -21px;">
    <div class='col-md-2'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-md-10 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal2" role="dialog">
  <div class="modal-dialog modal-xs">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">YERALTINA GIRIS</h4>
      </div>
      <div class="modal-body" style="height: 565px;">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#login2">Giriş Yap</a></li>
          <li><a data-toggle="tab" href="#register2">Üye Ol</a></li>
        </ul>
        <div class="tab-content">
          <div id="login2" class="tab-pane fade in active">
            <!--Login Area-->
            <div class="login-form">
              <div class="main-div">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="inputMailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="inputPassword" placeholder="Şifre">
                </div>
                <div class="forgot">
                  <a [routerLink]='["/register"]'>Uye ol.</a>
                </div>
                <button type="submit" (click)="Login(inputMailAddress,inputPassword)" class="btn btn-primary">Giriş</button>
              </div>
            </div>
          </div>
          <div id="register2" class="tab-pane fade">
            <!--Register Area-->
            <div class="article-form">
              <div class="main-div">
                <div class="form-group" style="text-align:center;margin:-40px;">
                  <img *ngIf="base64textString" class="card-image" src="data:image/png;base64,{{base64textString}}" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Name" placeholder="Ad">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Surname" placeholder="Soyad">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="user.MailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.Password" placeholder="Şifre">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.PasswordRetry" placeholder="Şifrenizi tekrar giriniz">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="user.PhoneNumber" placeholder="Telefon Numaranız">
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <form novalidate [formGroup]="formImport">
                      <div class="input-group mb-3">
                        <span class="custom-file btn btn-success btn-file">
                          <input type="file" class="custom-file-input" formControlName="importFile" value="Yazı için dosya ekle" id="importFile" (change)="onFileChange($event.target.files)">
                          <label class="custom-file-label" #labelImport for="importFile"><i class="glyphicon glyphicon-search"></i> Profil Resmi Ekle</label>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="forgot col-sm-12">
                  <br />
                  <button type="submit" (click)="Register(user)" class="btn btn-block btn-primary">Kayıt Ol</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
