<div class='container col-md-12'>
  <header-nav></header-nav>
  <div class="row" style="margin-left: -21px;">
    <div class='col-md-2'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-md-10 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal2" role="dialog">
  <div class="modal-dialog modal-xs">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">YERALTINA GIRIS</h4>
      </div>
      <div class="modal-body" style="height: 565px;">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#login2">Giriş Yap</a></li>
          <li><a data-toggle="tab" href="#register2">Üye Ol</a></li>
        </ul>
        <div class="tab-content">
          <div id="login2" class="tab-pane fade in active">
            <!--Login Area-->
            <div class="login-form">
              <div class="main-div">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="inputMailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="inputPassword" placeholder="Şifre">
                </div>
                <div class="forgot">
                  <a [routerLink]='["/register"]'>Uye ol.</a>
                </div>
                <button type="submit" (click)="Login(inputMailAddress,inputPassword)" class="btn btn-primary">Giriş</button>
              </div>
            </div>
          </div>
          <div id="register2" class="tab-pane fade">
            <!--Register Area-->
            <div class="article-form">
              <div class="main-div">
                <div class="form-group" style="text-align:center;margin:-40px;">
                  <img *ngIf="base64textString" class="card-image" src="data:image/png;base64,{{base64textString}}" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Name" placeholder="Ad">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="user.Surname" placeholder="Soyad">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="user.MailAddress" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.Password" placeholder="Şifre">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="user.PasswordRetry" placeholder="Şifrenizi tekrar giriniz">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="user.PhoneNumber" placeholder="Telefon Numaranız">
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <form novalidate [formGroup]="formImport">
                      <div class="input-group mb-3">
                        <span class="custom-file btn btn-success btn-file">
                          <input type="file" class="custom-file-input" formControlName="importFile" value="Yazı için dosya ekle" id="importFile" (change)="onFileChange($event.target.files)">
                          <label class="custom-file-label" #labelImport for="importFile"><i class="glyphicon glyphicon-search"></i> Profil Resmi Ekle</label>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="forgot col-sm-12">
                  <br />
                  <button type="submit" (click)="Register(user)" class="btn btn-block btn-primary">Kayıt Ol</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
