<div class="center">
  <div class="row">
    <h1><b>HAKKIMIZDA</b></h1>
  </div>
  <hr />
  <div>
    <b>
      <span>
        Yeraltında yazanlar sitesi, hiç bir kar amacı gütmeden sadece edebiyat ve felsefeyi seven, dünya ile alakalı sorunları olan yazarların bir araya gelerek kültürel bir birikim oluşturdukları bir oluşumdur.
      </span>
      <span>
        Bu oluşum hiç bir kişi, kuruluş ve otoriteye bağlı olmadan, özgürlüğün tüm sınırlarını kullanarak yazmayı hedefleyebilir fakat bir hedef koymak ilerleyişimizin önünde kısıtlayıcı bir etki yaratacağı için tüm yazarlardan sadece yazmalarını talep ediyoruz.
      </span>
    </b>
    <hr /><br />
    <b>
      <span>
        Kahrolsun bağzı şeyler ve yaşasın diğerleri!
      </span>
    </b>
  </div>
</div>
