
<div class="article-form">
  <div class="main-div">
    <div class="panel">
      <p>Zincirlerinizden kurtulmak için lütfen e-mail adresi ve şifrenizi giriniz.</p>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.Name" placeholder="Ad">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.Surname" placeholder="Soyad">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="user.MailAddress" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.Password" placeholder="Şifre">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.PasswordRetry" placeholder="Şifrenizi tekrar giriniz">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" [(ngModel)]="user.PhoneNumber" placeholder="Telefon Numaranız">
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <form novalidate [formGroup]="formImport">
          <div class="input-group mb-3">
            <span class="custom-file btn btn-success btn-file">
              <input type="file" class="custom-file-input" formControlName="importFile" value="Yazı için dosya ekle" id="importFile" (change)="onFileChange($event.target.files)">
              <label class="custom-file-label" #labelImport for="importFile"><i class="glyphicon glyphicon-search"></i> Yazın için bir resim seç</label>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <div class="card-img">
          <img *ngIf="base64textString" src="data:image/png;base64,{{base64textString}}" />
        </div>
      </div>
    </div>
    <div class="forgot col-sm-12">
      <br />
      <a [routerLink]='["/login"]'>Zaten üye misin?</a>
      <br />
      <button type="submit" (click)="Register(user)" class="btn btn-block btn-primary">Kayıt Ol</button>
    </div>
  </div>
</div>
