<!--<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 pdgn-25" *ngFor="let value of user.articleList">
      <div class="card-content">
        <div class="card-img">
          <img src="data:image/png;base64,{{value.imagePath}}" alt="">
          <span class="text-border-black col-xs-12" title="Yazar">{{user.name}}</span>
          <p class="pull-left read-count" title="Okunma"><b class="text-border-black">{{value.readCount}}</b></p>
        </div>
        <div class="card-desc">
          <h3>{{value.header}}</h3>
          <p [innerHTML]="value.content"></p>
          <a [routerLink]='["/read-article",{articleId:value.id}]' class="btn-card" title="Tamamını Oku"><i class="glyphicon glyphicon-search"></i></a>
          <a class="btn-card" title="Yayınla" (click)="Share(value.id)" *ngIf="!value.isShare"><i class="glyphicon glyphicon-ok-sign"></i></a>
          <a class="btn-card" title="Yayından Kaldır" (click)="UnShare(value.id)" *ngIf="value.isShare"><i class="glyphicon glyphicon-minus-sign"></i></a>
          <a class="btn-card" title="Sil" (click)="DeleteArticle(value.id)"><i class="glyphicon glyphicon-remove"></i></a>
          <a class="btn-card" title="Düzenle" (click)="GetArticleById(value.id)" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="row">

  <div class="col-xs-12">

    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let value of user.articleList">
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <div class="level center">
              Süre {{value.readTime}} dk
            </div>
            <div class="points center">
              {{value.readCount}} okuma
            </div>
            <img width="80" height="80" class="center" style="border-radius: 40px; box-shadow: 0px 0px 10px #1d1e21;" src="data:image/png;base64,{{value.imagePath}}" />
          </div>
          <div class="more-info title">
            <h4 [innerHTML]="value.content"></h4>
            <div class="stats">
              <div>
                <div class="title"></div>
                <i title="Düzenle" (click)="GetArticleById(value.id)" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-edit"></i>
                <div class="value"></div>
              </div>
              <div>
                <div class="title"></div>
                <i title="Yayınla" (click)="Share(value.id)" *ngIf="!value.isShare" class="glyphicon glyphicon-ok-sign"></i>
                <div class="value"></div>
              </div>
              <div>
                <div class="title"></div>
                <i title="Yayından Kaldır" (click)="UnShare(value.id)" *ngIf="value.isShare" class="glyphicon glyphicon-minus-sign"></i>
                <div class="value"></div>
              </div>
              <div>
                <div class="title"></div>
                <i title="Sil" (click)="DeleteArticle(value.id)" class="glyphicon glyphicon-remove"></i>
                <div class="value"></div>
              </div>
              <div [routerLink]='["/read-article",{articleId:value.id}]'>
                <div class="title"></div>
                <i class="glyphicon glyphicon-arrow-right"></i>
                <div class="value infinity"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="general">
          <h1><b>{{value.header}}</b></h1>
          <span class="more"><b>Yazının içeriği için üzerine gel. </b></span>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eser Düzenleme Ekranı</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Eser Başlığı</label>
          <input class="form-control" type="text" [(ngModel)]="article.header" />
        </div>
        <div class="form-group">
          <label>Eser İçeriği</label>
          <ckeditor [(ngModel)]="article.content"></ckeditor>
          <!--<textarea rows="8" class="form-control" [(ngModel)]="article.content"></textarea>-->
        </div>
        <div class="form-group">
          <label>Mevcut Resim</label><br />
          <img class="width60" src="data:image/png;base64,{{article.imagePath}}" alt="">
        </div>
        <div class="form-group">
          <label>Yeni Resim</label><br />
          <form novalidate [formGroup]="formImport">
            <div class="input-group mb-3">
              <span class="custom-file btn btn-success btn-file">
                <input type="file" class="custom-file-input" formControlName="importFile" value="Yazı için dosya ekle" id="importFile" (change)="onFileChange($event.target.files)">
                <label class="custom-file-label" #labelImport for="importFile"><i class="glyphicon glyphicon-plus"></i></label>
              </span>
            </div>
          </form>
          <img *ngIf="base64textString" class="width60" src="data:image/png;base64,{{base64textString}}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" (click)="UpdateArticle()">Güncelle</button>
      </div>
    </div>

  </div>
</div>
