<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 pdgn-25" *ngFor="let value of user.articleList">
      <div class="card-content">
        <div class="card-img">
          <img src="data:image/png;base64,{{value.imagePath}}" alt="">
          <span>{{user.name}}</span>
        </div>
        <div class="card-desc">
          <h3>{{value.header}}</h3>
          <p>{{value.content}}</p>
          <a href="#" class="btn-card" title="Okunma Sayısı"><i class="glyphicon glyphicon-book"></i> <b>{{value.readCount}}</b></a>
          <a href="#" class="btn-card" title="Tamamını Oku"><b>Oku</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
